<!--这是模板文件  -->
<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shim' %><!--render(view, locals, buffer=nil, &block)，Render a template. If the template was not compiled yet, it is done exactly before rendering.  -->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <!-- 其他view的内容被自动引入到这里 -->
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %><!-- 仅开发环境显示 -->
    </div>
    

  </body>
</html>

